*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color:cadetblue ;
}

.button{
    margin: 8px;
    width: 60px;
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 5px;
    border-color: cadetblue;
    
}

.container{
    padding-top: 70px;
    width: 100%;
    margin:auto;
    text-align: center;
    
}